.nav{
  grid-area: n;
  background-color: rgb(240, 240, 202);
  padding: 20px;
}
.item a{
  color: rgb(12, 11, 11);
  text-decoration: none;

}

.item a.active  {
  color: rgba(63, 122, 7, 0.466);
  
  }