.app-wrapper{
margin: 0 auto;
display: grid;
width: 1200px;


grid-template-areas: 
'h h'
'n p';

grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

}

.header{
grid-area: h;
background-color:rgb(248, 248, 241);


}
.header img{
    width: 60px;

}


.navbar{
    grid-area: n;
    background-color: rgb(233, 233, 224);
    color: rgb(94, 7, 134);

}

.profile{
    grid-area: p;
    background-color: rgb(252, 243, 243);
    
    
}
.profile img{
    width: 1000px;
    height: 100x;
}