.dialogs {
display: grid;
grid-template-columns: 2fr 10fr;
}

.dialogs a {
    color: rgb(111, 17, 233);
    text-decoration: none;
}

.dialogsItems{
padding: 10px;
}
.dialogsItems .active{
    color: cornflowerblue;
    }



.messages {
    padding: 20px;
}




